*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background: url(upacara.jpg);
  background-position: center;
  background-size: cover;
}
header {
  display: flex;
  margin: none;
  padding: 1.5em;
  background-color: #191919;
  justify-content: space-between;
  align-items: center;
}
header > h1 {
  color: white;
  display: flex;
  text-align: left;
  margin-left: 5%;
}
nav > ul.ul {
  display: flex;
  gap: 3em;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 2em;
}
nav > ul > li > a.link {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: 600;
  border-radius: 0.5em;
  padding: 0.1em;
  transition: 0.5s;
}
nav > ul > li > a.link:hover {
  color: #191919;
  background-color: aliceblue;
  padding: 0.5em;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
  font-size: larger;
  color: #191919;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container textarea {
  border-width: 0.5px;
  border-radius: 20px;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

.container input {
  border-width: 0.5px;
  border-radius: 20px;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container button {
  border: none;
  background-color: #ecdfcc;
  padding: 5px;
  border-radius: 10px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  color: #191919;
  background-color: aliceblue;
  border-radius: 20px;
  text-align: center;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

.tombol1 :hover {
  background-color: #191919;
  color: aliceblue;
}

button {
  transition: 0.3s;
}

main {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

p {
  font-weight: 500;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #191919;
  color: white;
  padding: 1em;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: large;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  header {
    position: sticky;
    top: 0;
    padding: 0.5em;
  }
  header > h1 {
    font-size: 1.5rem;
    animation: bulat 1s ease-in-out 1;
  }
  @keyframes bulat {
    from {
      transform: translateX(-100px);
    }
    to {
      transform: translateX(0);
    }
  }
  nav {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .hamburger {
    display: block;
    animation: ham 1s ease-in-out 1;
  }
  @keyframes ham {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .baris {
    grid-template-columns: 1fr;
  }
  nav > ul.ul {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 3.8em;
    background-color: #191919;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    align-items: center;
  }
  nav > ul > li {
    margin: 16px;
  }
  nav > ul.ul.active {
    left: 0;
  }
  .container {
    padding: 15px;
    font-size: medium;
  }

  main {
    flex-direction: column;
    gap: 15px;
    margin: 20px 70px 0 70px;
  }

  .results {
    font-size: medium;
    padding: 15px;
    gap: 20px;
  }

  footer {
    font-size: medium;
    padding: 10px;
  }

  .container textarea {
    border-width: px;
    border-radius: 20px;
    padding: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
  }
}
