*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}
header {
  display: flex;
  margin: none;
  padding: 1.5em;
  background-color: #191919;
  justify-content: space-between;
  align-items: center;
}
header > h1 {
  color: white;
  display: flex;
  text-align: left;
  margin-left: 5%;
}
nav > ul.ul {
  display: flex;
  gap: 3em;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 2em;
}
nav > ul > li > a.link {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: 600;
  border-radius: 0.5em;
  padding: 0.1em;
  transition: 0.5s;
}
nav > ul > li > a.link:hover {
  color: #191919;
  background-color: aliceblue;
  padding: 0.5em;
}
main {
  min-height: 100vh;
  background-image: url(upacara.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
main > h1 {
  font-style: italic;
  font-size: 50px;
  color: aliceblue;
}
main > p {
  color: aliceblue;
  font-size: 25px;
  font-style: italic;
  font-weight: 350;
  margin-left: 10px;
}
main>a{
    width: 0%;
}
main > a > button {
  border-radius: 0.5em;
  color: aliceblue;
  padding: 1em;
  width: 10em;
  border-color: none;
  font-family: algerian;
  letter-spacing: 0.1em;
  font-weight: bolder;
  font-style: italic;
  font-size: 1rem;
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(49, 48, 48));
}
section {
  padding: 5em;
  background-color: #191919;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
.baris {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.baris > a:hover {
  background-color: #191919;
  color: aliceblue;
}
.baris > a {
  border: 5px solid aliceblue;
  color: #191919;
  background-color: aliceblue;
  padding: 100px;
  text-align: center;
  border-radius: 20px;
  transition: 0.3s;
}
@media (max-width: 768px) {
  body{
    background: url(Desain\ tanpa\ judul\ \(1\).png);
  }
  header{
    position: sticky;
    top: 0;
    padding: .5em;
  }
  header>h1{
    font-size: 1.5rem;
    animation: bulat 1s ease-in-out 1;
  }
  @keyframes bulat {
    from{
      transform: translateX(-100px);
    }
    to{
      transform: translateX(0);
    }
  }
  nav {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .hamburger{
    display: block;
    animation: ham 1s ease-in-out 1;
  }
  @keyframes ham {
    from{
      transform: translateX(100px);
    }
    to{
      transform: translateX(0);
    }
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .baris{
    grid-template-columns: 1fr;
  }
  nav > ul.ul{
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 3.8em;
    background-color:  #191919;
    width: 100%;
    text-align: center;
    transition: .3s;
    align-items: center;
  }
  nav > ul > li{
      margin: 16px;
  }
  nav>ul.ul.active{
    left: 0;
  }

  main {
    background-size: cover;
    background-position: center;
    padding: 20px;
  }

  main > h1 {
    font-size: 2rem;
  }

  main > p {
    font-size: 1rem;
  }
  .baris {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  .baris > a {
    padding: 50px 20px;
    border-radius: 10px;
  }
}